<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      Get help on the Ruby on Rails tutorial at the
      <a href="http://rubyonrailstutorial.org/#help">Rails Tutorial Help Section</a>
    </p>
